.dashboard {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;

  .heading {
    position: absolute;
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 28px;
    display: flex;
    align-items: center;
    left: 262px;
    top: 0px;
    animation-name: smalltobig;
    animation-duration: 0.4s;

    @keyframes smalltobig {
      from {
        transform: scale(0);
      }

      to {
        transform: scale(1);
      }
    }
    img {
      width: 42px;
      height: 42px;
    }
  }
  .dashContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 200px;
    .tabel {
      position: relative;
      top: 50px;
      animation-name: smalltobig;
      animation-duration: 0.4s;
      transition: width 0.4s;
      @keyframes smalltobig {
        from {
          transform: scale(0);
        }

        to {
          transform: scale(1);
        }
      }
      width: 72.4%;
      height: 707px;
      background-image: url("../../assets/darkgrad21.png"),
        url("../../assets/darkbluegradinet1.png");

      .thDiv {
        height: 70px;
        width: 100%;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid rgba(255, 255, 255, 0.17);
        align-items: center;

        .th {
          text-align: center;
          width: 16.6%;
          font-family: "Inconsolata";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 17px;
          letter-spacing: 0.03em;
          color: #ffffff;
        }
      }
      .tdDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        .tr {
          &:hover {
            background-color: rgba(62, 128, 116, 0.6);
          }
          .projectName {
            position: relative;
            overflow: visible;
            img {
              position: absolute;
              left: 36px;
            }
          }

          .ProjectProgress {
            font-family: "Georgia";
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 15px;
            position: relative;
            display: flex;
            gap: 18px;
            .progress-bar {
              width: 100.65px;
              height: 13px;
              background-color: #f2f2f2;
              border-radius: 10px;
              overflow: hidden;
            }
            .progress-bar-fill {
              height: 100%;
              background-color: #05d9ff;
              transition: width 0.3s ease-in-out;
            }
          }
          height: 70px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.17);
          width: 100%;
          display: flex;
          flex-direction: row;
          // align-items: center;
          // justify-content: center;
          .td {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 16.6%;
            font-family: "Inconsolata";
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 17px;
            letter-spacing: 0.03em;

            color: #ffffff;
          }
        }
      }
    }
  }
}
