@import "../../../gloabalcss/fonts";
@import "../../../gloabalcss/genral.scss";

.addmodule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 93.3%;
  background-color: #040f16;
  color: white;

  .background {
    position: relative;
    display: flex;
    flex-direction: column;
    top: -50px;
    background-image: url("../../../assets/formback1.png");
    width: 30.2%;
    height: 72%;
    font-family: "Inconsolata", monospace;
    display: flex;
    align-items: center;

    .backarrow {
      position: absolute;
      width: 25px;
      height: 20px;
      left: 10px;
      top: 29px;
    }
    .heading {
      margin-top: 2.8%;
      margin-bottom: 7.8%;
      text-align: center;
      font-family: "Mate SC";
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 43px;
    }

    .mbackground {
      width: 82.07%;
      height: 66.77%;
      background-image: url("../../../assets/modulegradinet1.png");
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .moudlediv {
        margin-top: 39px;
        gap: 17px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 383px;
          min-height: 37px;
          border: 1px solid white;

          .indexvalue {
            position: absolute;
            left: 11px;
          }
          .del {
            position: absolute;
            right: 11px;
            width: 20px;
            height: 20px;
          }
        }
      }
      input {
        height: 4.41%;
        width: 92.84%;
        background: #eeeeee;
        border-radius: 5px;
        border: none;
        outline: none;

        padding-left: 3.58%;
        padding-right: 3.58%;
        padding-top: 2.32%;
        padding-bottom: 2.32%;

        //font
        font-family: "Inconsolata";
        font-style: normal;
        font-size: 19px;
      }
    }
    .buttons {
      display: flex;
      flex-direction: row;
      width: 82.07%;
      justify-content: space-around;
      button {
        position: relative;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 110%;
        letter-spacing: 0.16em;
        text-transform: uppercase;

        color: white;
        margin-top: 48px;
        width: 182px;
        height: 49px;
        border: none;
        background: #000000;
        border-radius: 5px;

        &:active {
          background-color: #ffffcc;
          color: black;
        }
        img {
          position: absolute;
          right: 5px;
          top: 5px;
          bottom: 5px;
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
