.fileComponent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  gap: 53px;

  .background {
    margin-top: 60px;
    margin-bottom: 134px;
    // width: 38.31%;
    // height: 68.24%;
    width: 367px;
    height: 654px;
    background-image: url("../../../assets/board2.png");

    transition: all 0.4s ease-out;

    .heading {
      margin-top: 2.8%;
      margin-bottom: 7.8%;
      text-align: center;
      font-family: "Mate SC";
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 43px;
    }
    .modlist {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 17px;
      li {
        border: 1px solid white;
        width: 87.65%;
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 37px;
        border: 1px solid white;
      }
    }
  }
  .FilesBackground {
    display: flex;
    flex-direction: column;
    animation-name: smalltobig;
    animation-duration: 0.4s;

    @keyframes smalltobig {
      from {
        transform: scale(0);
      }

      to {
        transform: scale(1);
      }
    }

    margin-top: 60px;
    margin-bottom: 134px;
    // width: 38.31%;
    // height: 68.24%;
    width: 367px;
    height: 654px;
    background-image: url("../../../assets/board2.png");

    .heading {
      display: flex;
      flex-direction: column;
      overflow: visible;
      .mainheading {
        margin-top: 2.8%;
        margin-bottom: 7.8%;
        text-align: center;
        font-family: "Mate SC";
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 43px;
      }
      .subheading {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        line-height: 110%;

        .filename {
          margin-left: 34px;
        }
        .size {
          margin-right: 34px;
        }

        text-align: center;
        letter-spacing: 0.16em;
        text-transform: uppercase;

        color: #ffffff;
      }
    }
    .FILES {
      overflow: visible;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 80%;
      justify-content: space-between;

      .filelist {
        display: flex;
        flex-direction: column;
        margin-top: 31px;
        width: 100%;
        gap: 8px;
        .data {
          font-family: "Inconsolata";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 17px;
          letter-spacing: 0.03em;
          color: #f5f5dc;
          width: 100%;
          display: flex;
          justify-content: space-between;
          .fname {
            margin-left: 34px;
          }
          .fsize {
            margin-right: 34px;
          }
        }
      }
    }
    .bottom {
      .fileinput {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        width: 100%;
        height: 36px;
        background: #000000;
        border-width: 1px 0px;
        border-style: solid;
        border-color: rgba(245, 245, 220, 0.17);
        input[type="file"] {
          display: none;
        }

        .inputlabel {
          flex: 1.5;
          margin-left: 8px;
          padding: 5px;
          padding-left: 8px;
          padding-right: 8px;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 700;
          font-size: 10px;
          line-height: 110%;
          text-align: center;
          letter-spacing: 0.16em;
          text-transform: uppercase;

          color: #ffffff;
          width: fit-content;

          background: #4caf50;
          border-radius: 31px;
        }
        .selectedFileDiv {
          flex: 4;
          display: flex;
          justify-content: space-around;
          .selected-file {
            margin-left: 10px;
            font-family: "Inconsolata";
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 17px;
            /* identical to box height */
            letter-spacing: 0.03em;
            color: #f5f5dc;
            align-self: center;
          }
        }
      }
      .button {
        overflow: visible;
        display: flex;
        justify-content: center;

        button {
          position: relative;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 700;
          font-size: 11px;
          line-height: 110%;
          text-align: center;
          letter-spacing: 0.16em;
          text-transform: uppercase;

          color: #ffffff;

          width: 182px;
          height: 49px;
          border: none;
          background: #000000;
          border-radius: 5px;
          margin-bottom: 30px;
          &:active {
            background-color: #ffffcc;
            color: black;
          }
        }
      }
    }
  }
}
