.devlogin {
  color: white;
  width: 100%;
  height: 93.3%;
  display: flex;
  animation-name: smalltobig;
  animation-duration: 0.4s;
  justify-content: center;
  @keyframes smalltobig {
    from {
      transform: scale(0);
    }

    to {
      transform: scale(1);
    }
  }
  .background {
    display: flex;
    background-image: url("../../../assets/loginform.png");
    width: 43.59%;
    height: 72.22%;
    font-family: "Inconsolata", monospace;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .formcontent {
      display: flex;
      flex-direction: column;
      width: 54.59%;
      height: 45.64%;
      background-color: none;
      overflow: visible;
      justify-content: center;
      p {
        display: flex;
        flex-direction: column;
        margin-bottom: 23px;
        input {
          background: #f9f9f9;
          border-radius: 5px;
          width: 97.192%;
          height: 36px;
          padding-left: 1.404%;
          padding-right: 1.404%;
          align-self: center;
          outline: none;
          border: none;
          font-family: Arial, sans-serif;
          font-size: 14px;
        }
        label {
          font-family: "Inconsolata", monospace;
          font-weight: 600;
          font-size: 22px;
          line-height: 22px;
          margin-bottom: 7px;
          letter-spacing: 2px;
        }
      }
    }
    button {
      margin-top: 40px;
      width: 21.75%;
      height: 6.28%;
      border: none;
      align-self: center;
      background-color: black;
      color: white;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 0.16em;
      text-transform: uppercase;

      &:active {
        background-color: #ffffcc;
        color: black;
      }
    }
  }
}
